{{diagnostic}}

<form #formData="ngForm" class="form-inline" (ngSubmit)="onSubmit()">
  <div class="form-group">
   <label for="city">City{{model.city}}</label>
    <input type="text" id="city" name="city" class="form-control" [(ngModel)]="model.city" name="city" >
    <br>TODO: remove this: {{form}}
  </div>
  <div class="form-group">
    <label for="movie">Movie</label>
    <input type="text" id="movie" name="movie" class="form-control" placeholder="{{model.movie}}"[(ngModel)]="model.movie">
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!formData.form.valid">end invitation</button>
</form>
<div class="row">
  <sebm-google-map [latitude]="lat" [longitude]="lng" class="col-sm-12">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>
</div>
{{diagonistic}}
